{
    "extends": "eslint:recommended",
    "parserOptions": {
        "ecmaVersion": 6,
        "experimentalObjectRestSpread": true
    },
    "rules": {
        "array-callback-return": "error"
    }
}
